nav
{

    transition-property: top;
    transition-duration: 500ms;
    top: 0;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    margin-top:-9px;
    margin-left: -9px;
}

li {
    float: left;
    
}

li a {
    display:block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 50px;
    
}

li a:hover {
    background-color: orange;
}

#validatie
{
    float: right;
}